.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
               bottom: 0px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
               width: 20px;
               height: 20px;
}
.swiper{
padding: 20px 0;
/* overflow-x: hidden;
overflow-y: visible;*/
} 
