/* global styles */
a{
    color: var(--global-color-text);
    text-decoration: none;
    transition: 0.2s linear;
}
.filled-button{
    background: var(--global-color-primary);
    border-color: var(--global-color-primary);
    color: var(--color-white);
    display: inline-block;
    position: relative;
    padding: 6px 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s all linear;
}
.ultra-form{
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    background: var(--color-primary-light);
}
p.field-wrapper{
    display: flex
;
    align-items: center;
    margin-bottom: 14px;
    padding: 9px 15px;
    line-height: 1;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(var(--global-color-primary-rgb), 0.18);
    background: var(--color-white);
}
.ultra-field{
    flex: 1;
    padding: 6px 0;
    margin: 0 12px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.2s all linear;
    border-bottom: 2px solid #f0f0f0;
    color: var(--global-color-text);
}
.ultra-field textarea{
    display: block;
    width: 100%;
    border-bottom-color: transparent;
    display: block;
    width: 100%;
    border-bottom-color: transparent;
    resize: none !important;
    line-height: 1.6;
}