/* global styles */
a{
    color: var(--global-color-text);
    text-decoration: none;
    transition: 0.2s linear;
}
.filled-button{
    background: var(--global-color-primary);
    border-color: var(--global-color-primary);
    color: var(--color-white);
    display: inline-block;
    position: relative;
    padding: 6px 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s all linear;
}
