/* :root{
  --color-primary-light : #e7f6fd;
  --global-color-text: #808080;
  --global-color-primary : #1db2ff;
  --global-color-headings: #1a1a1a;
  --color-white : #fff;
  --global-color-primary-rgb: 29, 178, 255;
  --global-color-link : #1a1a1a;
  --color-white: #fff;
  --global-color-primary-rgb: 29, 178, 255;
} */
